---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Project from "../components/Project.astro";

import github from "../images/github.svg";
import linkedin from "../images/linkedin.svg";
import mail from "../images/mail.svg";
import { data } from "../data";
---

<Layout title="Elian Gerard">
	<main
		class="relative z-30 min-h-screen flex flex-col items-center min-w-full p-6 md:p-0"
	>
		<div class="flex flex-col items-center max-w-screen-md">
			<div class="h-screen flex items-center">
				<div class="px-12 md:p-0">
					<p
						class="font-[MuseoModerno] font-bold text-2xl md:text-5xl"
					>
						Hi! I'm
					</p>
					<h1
						class="font-bold font-[Montserrat] text-7xl md:text-8xl text-left -ml-[5px]"
					>
						{data.me.name}
					</h1>
					<span
						class="flex flex-col md:flex-row items-left justify-between md:items-center"
					>
						<p
							class="text-xl mb-2 md:mb-0 md:text-4xl opacity-50 font-semibold"
						>
							{data.me.title}
						</p>
						<div class="flex items-center">
							<a
								href="https://github.com/eliangerard/"
								target="_blank"
								class="h-full w-12 p-2 bg-white/[0.06] hover:bg-white/[0.1] rounded-lg font-bold text-black/50 transition-all"
							>
								<img
									class="h-8 w-8"
									src={github.src}
									alt="github"
								/>
							</a>
							<a
								href="https://www.linkedin.com/in/eliangerard/"
								target="_blank"
								class="h-full w-12 p-2 ml-2 bg-white/[0.06] hover:bg-white/[0.1] rounded-lg font-bold text-black/50 transition-all"
							>
								<img
									class="h-8 w-8"
									src={linkedin.src}
									alt="linkedin"
								/>
							</a>
							<a
								href="mailto:eliangerardiso@gmail.com"
								target="_blank"
								class="h-full w-12 p-2 ml-2 bg-white/[0.06] hover:bg-white/[0.1] rounded-lg font-bold text-black/50 transition-all"
							>
								<img
									class="h-8 w-8"
									src={mail.src}
									alt="linkedin"
								/>
							</a>
						</div>
					</span>
				</div>
			</div>
			<div id="about" class="pt-32">
				<h2 class="font-bold text-3xl font-[MuseoModerno]">About</h2>
				<p class="font-light opacity-75 text-lg text-pretty">
					{data.me.about}
				</p>
			</div>
			<div id="experience" class="pt-32">
				<h2 class="font-bold text-3xl font-[MuseoModerno] my-4">
					Experience
				</h2>

				<ul>
					{
						data.experience.map((experience) => (
							<Card
								title={experience.title}
								subtitle={experience.subtitle}
								date={experience.data}
								body={experience.description}
								link={experience.link}
							/>
						))
					}
				</ul>
			</div>
			<div id="skills" class="pt-32">
				<h2 class="font-bold text-3xl font-[MuseoModerno] my-4">
					Skills
				</h2>

				<ul>
					{
						data.skills.map((skill) => (
							<Card
								title={skill.title}
								subtitle={skill.subtitle}
								date={skill.data}
								body={skill.description}
								link={skill.link}
							/>
						))
					}
				</ul>
			</div>
			<div id="projects" class="pt-32 w-full pb-32">
				<h2 class="font-bold text-3xl font-[MuseoModerno] my-4">
					Projects
				</h2>

				<ul class="flex flex-col md:flex-row md:flex-wrap px-4">
					
					{
						data.projects.map((project) => (
							<Project
								title={project.title}
								description={project.description}
								image={project.image}
								link={project.link}
							/>
						))
					}
				</ul>
			</div>
		</div>
	</main>
</Layout>
