---
import Dot from "../images/dot.svg";
import Link from "../ui/icons/Link.astro";

interface Props {
	title: string;
	subtitle: string;
	body: string;
	date: string;
	link?: string;
}

const { title, subtitle, body, date, link } = Astro.props;
---

<li class="group flex items-start mb-4 w-full">
	<img
		src={Dot.src}
		class="w-5 h-7 m-3 mr-4 md:mr-6 group-hover:rotate-[60deg] transition-all"
		alt={title}
	/>
	<div class="flex-1">
		<span class="flex flex-col md:flex-row justify-between mt-2">
			<h3 class="font-semibold text-2xl my-1">
				{title}
			</h3>
			<div class="flex items-center">
				{
					link ? (
						<a href={link} target="_blank" class="flex items-center rounded-full bg-white/0 -ml-4 my-1 p-1 px-4 hover:bg-white/[0.05] hover:ring-1 ring-white/20 transition-all">
							<p class="font-semibold italic">{date}</p>
							<Link />
						</a>
					) : (
						<p class="font-semibold italic md:px-4">{date}</p>
					)
				}
			</div>
		</span>
		<p class="opacity-85 font-medium text-xl mb-1">
			{subtitle}
		</p>
		<p class="font-light opacity-75 text-lg mt-1">
			{body}
		</p>
	</div>
</li>
