---
import Link from "../ui/icons/Link.astro";

interface Props {
    title: string;
    description: string;
    image?: string;
    left?: boolean;
    link?: string;
    technologies?: Array<string>;
}

const { title, description, left = true, image, link, technologies } = Astro.props;
---

<li
    class={`bg-black/0 hover:bg-white/[0.05] hover:backdrop-blur-xl hover:ring-1 ring-white/20 rounded-xl my-2 md:mx-2 p-4 flex flex-col min-w-1/2 w-full transition-all`}
>
    {
        image ? (
            <img
                class="w-full h-[250px] md:h-[400px] object-cover rounded-lg"
                src={image}
                alt={title}
            />
        ) : (
            <div class="w-full h-[250px] md:h-[400px] flex items-center justify-center font-bold text-3xl bg-white/30 rounded-xl">
                <p class="text-black/75 ">{title}</p>
            </div>
        )
    }

    <div class="mt-2">
        <div class="flex items-center">
            <h3 class="font-semibold text-2xl mt-1">{title}</h3>
            {
                link && (
                    <a href={link} target="_blank">
                        <Link />
                    </a>
                )
            }
        </div>
        <div class="flex flex-wrap">
            {technologies && technologies.map(tech =>
                <p class="border-[1px] mt-2 px-4 rounded-full border-white/20 font mr-2 hover:bg-white/10 opacity-75 text-lg select-none transition-all">
                    {tech}
                </p>
            )}
        </div>
        <p class="font-light opacity-75 text-lg text-pretty mt-2">
            {description}
        </p>
    </div>
</li>
